* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    /* margin-top: 30px; */
}

.nav-image {
    margin-top: 24.5px;
}

.nav-links {
    list-style: none;
    margin-top: 35.5px;
}

.nav-links ul a:nth-child(1),
.nav-links ul a:nth-child(4) {
    color: #252432;
}

.nav-links ul a:nth-child(2),
.nav-links ul a:nth-child(3) {
    color: #8987A1;
}

.nav-links a {
    text-decoration: none;
    padding: 20px;
}

/* banner style */
.banner {
    display: flex;
    margin-top: 120px;
    /* background-color: aqua; */
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 165px;
}

.fresh-flowers {
    color: #E95A08;
}

.banner-details {
    max-width: 570px;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.50);
}

.banner-image {
    max-width: 570px;
}

.banner-image img {
    display: block;
    height: 100%;
    width: 100%;
}

.our-plants-content {
    text-align: center;
    margin-top: 120px;
}

.our-plants-title {
    font-size: 3rem;
    font-weight: bold;
}

.our-plants-details {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.50);
}

/* card style */
.card-title {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 69px;
    margin-bottom: 20px;
    margin-right: 69px;
}

.card-image {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.card-price {
    font-size: 1.375rem;
    font-weight: bold;
    margin-left: 94.5px;
    margin-right: 94.5px;
    margin-bottom: 30px;
}

.card-btn {
    padding: 19px 90px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    margin-bottom: 30px;
}

/* flower and plants lover style */
.flower-and-plants-lover {
    display: flex;
    margin-top: 190px;
}

.left {
    position: relative;
}

.left-image {
    display: block;
    object-fit: cover;
    height: 497px;
}

.badge {
    width: 210px;
    position: absolute;
    top: -80px;
    right: -80px;
    z-index: 10;
}

.right {
    margin: 39px 0px 0px 60px;
    flex: 1;
}

.right h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.right-details {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.50);

}

.right-details li {
    margin-bottom: 20px;
}

.latest-deal {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

.latest-deal h2 {
    font-size: 3rem;
    font-weight: bold;
}

.latest-deal p {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.50);
}

/* .plant-types {
    height: 423px;
    
}

.plant-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.plant-left1 {
    background-image: url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    width: 367px;
    height: 197px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
}

.off {
    margin-bottom: 19px;
    padding-top: 65px;
    margin-right: 47px;
    margin-left: 49px;
    font-size: 20px;
    font-weight: bold;
}

.shop {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}

.plant-left2 {
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    width: 367px;
    height: 197px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
}

.plant-master {
    display: flex;
    gap: 25px;
}

.plant-right {
    flex: 1;
    border-radius: 12px;
}
.plant-right{
    position: relative;
}
.xxxx{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.off25 {

    margin-bottom: 19px;

    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.shop25 {
    margin-left: 120px;
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
} */

.plants-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
}

.left-plants {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plants {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
}

.small-plants {
    width: 367px;
    height: 197px;
}

.large-plants {
    flex: 1;
}

.overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    border-radius: 8px;
}

.overlay p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.overlay a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
    display: inline-block;
}



/* join style */
.join-content {
    position: relative;
}

/* .input-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
} */

.join {
    width: 100%;
    text-align: center;
    margin-top: 120px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    height: 533px;
}

.join h3 {
    padding-top: 199px;
    margin-bottom: 23px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;

}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join input {
    padding: 15px 540px 15px 20px;
    border: none;
}

.join button {
    background-color: #E95A08;
    padding: 15px 53px;
    border: none;
    color: #FFFFFF;
}
.footer{
    /* margin-top: ; */
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* gap: 60px; */
    /* margin-left: 100px; */
}
.footer-content-left{
    font-size: 22px;
    color: #6B7280;
}
.home-links, .features-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-links ul, .features-links ul{
     list-style: none;
     
}
.home-links ul li a, .features-links ul li a{
   text-decoration: none;
   color: #6B7280;
}
.home-links ul li, .features-links ul li{
   margin-bottom: 20px;
}
.facebook-links{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* margin-right: 10px; */
    /* width: 100%; */
}
.facebook-links :nth-child(2){
    margin-bottom: 60px;
}
/* responsive style */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links ul a:nth-child(1),
    .nav-links ul a:nth-child(2),
    .nav-links ul a:nth-child(3) {
        display: none;
    }

    .nav-links {
        margin-top: 80px;
    }

    .nav-image {
        margin-left: 15px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-image {
        margin-bottom: 28px;
    }

    .banner-content {
        margin-left: 15px;
    }

    .banner-title {
        /* font-size: 24px;
        line-height: 24px; */
        margin-bottom: 13px;
        margin-top: 0px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .card-title {
        /* font-size: 1.375rem; */
        font-weight: bold;
        margin-top: 30px;
        margin-left: 5px;
        margin-bottom: 20px;
        margin-right: 5px;
        text-align: center;
    }

    .card-price {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .card-btn {
        padding: 20px 70px;
        text-align: center;
    }

    .flower-and-plants-lover {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-image {
        display: none;
        margin-left: 20px;
        margin-right: 60px;
    }

    .right {
        margin: 0px 0px 0px 0px;
    }

    .badge {
        display: none;
    }

    .plants-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
    }

    .large-plants {
        width: 367px;
        height: 197px;
    }

    .join {
        width: 100%;
        text-align: center;
        margin-top: 80px;
        /* background-image: url(../assets/news-letter-bg.png); */
        background-size: cover;
        height: 333px;
    }

    .join h3 {
        padding-top: 140px;
        margin-bottom: 23px;
        font-size: 2rem;
        font-weight: bold;
        color: #FFFFFF;

    }

    .input-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .join input {
        padding: 15px 20px 15px 30px;
        border: none;

    }
    .join button {
    padding: 15px 25px;
}
.footer-container{
    flex-direction: column;
     margin-left: 15px;
}
.footer-content-left p{
    margin-bottom: 20px;
}
.home-links, .features-links{
    /* display: flex; */
    flex-direction: row;
    justify-content: left;
   
          /* align-items: center; */
}
}    

    /* plant types style */
    /* .promo-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.promo-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.promo-card {
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.promo-card.small {
  width: 250px;
  height: 130px;
}

.promo-card.large {
  flex: 1;
  height: 280px;
}

.promo-text {
  text-align: center;
  background: rgba(0, 0, 0, 0.4); dark overlay
  padding: 10px 15px;
  border-radius: 10px;
}

.promo-text h3, .promo-text h2 {
  margin: 0;
  font-weight: bold;
}

.promo-text a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  display: block;
  margin-top: 8px;
} */